/* Fonts *******************************/
@font-face {
  font-family: "triumpblack";
  src: url("../../public/fonts/Triump-Black-webfont.eot");
  src: url("../../public/fonts/Triump-Black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/fonts/Triump-Black-webfont.woff2") format("woff2"),
    url("../../public/fonts/Triump-Black-webfont.woff") format("woff"),
    url("../../public/fonts/Triump-Black-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Marks *******************************/
mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

/* Links *******************************/
a {
  padding-bottom: 1px;
  border-bottom: 1px solid #1e293b;
}

a:hover {
  padding-bottom: 1px;
  border-bottom: 1px solid #fb923c;
}

/* Code text ***************************/
code {
  background: rgba(135, 131, 120, 0.15);
  border-radius: 4px;
  font-size: 75%;
  padding: 0.2em 0.4em;
}

.code_block {
  font-family: "Chivo", "Courier New", Courier, monospace;
  background: #f4f4f5;
  border-radius: 4px;
  font-size: 70%;
  padding: 1.5em;
  border: 1px solid #d4d4d8;
}
