---
import '../styles/styles.css';
import { Image } from "astro:assets";
---

<html>
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="strava, notion, postman" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:200,300,400&display=swap" rel="stylesheet">
</head>

  <body class="mx-10 my-10 max-w-3xl font-sans text-slate-800 bg-stone-100">
    <div class="">
   <a href="/"><img src="/imgs/arrow-left.svg"></a>
    </div>
    <div class="text-5xl mt-10 mb-10">
      Pintar tu datos de Strava en una tabla en Notion
    </div>
    <div class="text-3xl pt-8">Introducción</div>
  <div class="text-xl pt-4 pb-4 font-extralight">Este es el segundo post de la serie <strong> <a href="/activities_strava_to_notion">Controla tu Strava con Notion</a></strong>. En esta parte vamos a contar como podemos visualizar los datos de nuestras actividades que ya hemos obtenido de Strava en una base de datos en Notion.
  </div>
  <div class="text-xl pb-8 font-extralight">Son dos pasos los que hay que hacer, por un lado, crear una <strong>integración en Notion</strong> y la <strong>base de datos</strong>; y por otro lado el <strong>script en javascrit</strong> para ejecutarlo.</div>
  <div class="text-xl">Esta serie son tres posts divididos en las siguientes partes:</div>
  <div class="text-xl pt-4 ml-8 font-extralight">
    <ul class="list-disc">
    <li class="mb-3"><a href="/activities_strava_to_notion"> API de Strava y obtención de datos de las actividades.</a></li>
    <li class="mb-3">Pintar los datos obtenidos de Strava en una tabla de Notion <code class="bg-green-200">actual</code></li>
    <li class="mb-3">Automatizar la sincronización con GitHub Action <code class="bg-orange-200">pendiente</code></li>
    </ul>
  </div>
  <div class="text-3xl pt-8">Integración en Notion</div>
  <div class="text-2xl pt-4">1. Crear una integración en Notion:</div>
  <ul class="text-xl list-disc pt-4 ml-8 font-extralight">
    <li class="pb-2">Ve a <a href="https://www.notion.so/profile/integrations" target="_blank"> My Integrations</a>, puedes hacerlo desde tus setting o en el link anterior.</li>
    <li class="pb-2">Haz clic en "New integration".</li>
    <li class="pb-2">Asigna un nombre a tu integración (por ejemplo, "Sync Strava Notion").</li>
    <li class="pb-2">Selecciona el espacio de trabajo al que deseas conectar la integración.</li>
    <li class="pb-2">Elige los permisos que necesitas (por ejemplo, <code>Insertar contenido</code> y <code>Leer contenido</code>).</li>
    <li class="pb-2">Haz clic en "Submit" para crear la integración.</li>
  </ul>
  <div class="text-2xl pt-8">2. Obtén el Access Token de Notion:</div>
  <ul class="text-xl list-disc pt-4 ml-8 font-extralight">
    <li class="pb-2">Una vez creada la integración, verás un "Internal Integration Secret" en la página. Este es tu <code>access_token</code> en Notion.</li>
    <li class="pb-2">Copia y guarda el token en un lugar seguro, ya que es necesario para hacer solicitudes a la API de Notion.</li>
  </ul>
  <div class="text-2xl pt-8">3. Crea la base datos:</div>
  <ul class="text-xl list-disc pt-4 ml-8 font-extralight">
    <li class="pb-2">Crea una nueva base de datos en una página nueva</li>
    <li class="pb-2">Además del campo <code>Name</code> añade las propiedadades <code>Distance</code> y <code>Date</code> que son las que tenemos en el código.</li>
    <li class="pb-2">Ajústalas de la siguiente manera:</li>
    <li class="pb-2 ml-2 list-none">∘ <code>Distance</code>: Esta propiedad debe ser del tipo Número (Number).</li>
    <li class="pb-2 ml-2 list-none">∘ <code>Date</code>: Esta propiedad debe ser del tipo Fecha (Date).</li>
  </ul>
  <div class="text-2xl pt-8">4. Comparte tu base de datos de Notion con la integración:</div>
  <ul class="text-xl list-disc pt-4 ml-8 font-extralight">
    <li class="pb-2">Abre la base de datos en Notion donde deseas que se inserten los datos de las actividades.</li>
    <li class="pb-2">Haz clic en los tres puntitos del menú en la parte superior derecha de la página de la base de datos y baja hasta “Connections” .</li>
    <li class="pb-2">Busca el nombre de tu integración y actívala.</li>
    <li class="pb-2">Asegúrate de que la integración tenga acceso completo para poder escribir en la base de datos.</li>
  </ul>
  <div class="text-3xl pt-8">Script en javacript para ejecutar con Node</div>
  <div class="text-xl pt-4 font-extralight">Ahora vamos a hacer el proyecto en nuestra computadora para poder ejecutar la lectura de datos de Strava y pintarlos en Notion.</div>
  <div class="text-2xl pt-8">Instalación de Node.js y dependencias:</div>
  <ul class="text-xl list-none pt-4 font-extralight">
    <li class="pb-2">1. Instala Node.js en tu computadora si no lo tienes.</li>
    <li class="">2. Crea un nuevo proyecto y añade las dependencias</li>
    <li class="ml-4 pb-4 pt-4"><div class="code_block">
        mkdir strava-notion</br>
        cd strava-notion</br>
        npm init -y</br>
        npm install axios @notionhq/client</div></li>
    <li class="pb-2">3. Crea un archivo dentro de la carpeta con el siguiente código y nómbralo por ejemplo como <code>sync-strava.js</code></li>
    <li class=" ml-4 pb-2 pt-2"><iframe style="width:100%; height: 1090px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https%3A%2F%2Fgithub.com%2Fquiqueciria%2Fcode-blocks%2Fblob%2Fmain%2Fsync-strava-post.js&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></iframe></li>
    <li class="pb-4">4. Sustituye cada texto de la configuración por los tuyos propios.</li>
    <li class=" ml-4 pb-4"><div class="p-4 bg-gray-200 font-extralight rounded-lg">Si no encuentras el código de <code>NOTION_DATABASE_ID</code> este está cuando pulsas sobre el nombre de la tabla y pinchas en “Copy link to view”. En la URL que nos dará, nos quedamos con el número que hay antes de <code>?v=</code>, por ejemplo: <code>137ad089a85b80caab69f15ecbc01e9b</code>.</div></li>
    <li class="pb-2">5. Guarda el archivo y desde el terminal ejecútalo:</li>
    <li class=" ml-4 pb-2"><div class="code_block">node sync_strava_notion.js</div></li>
    <li class="pb-2">6. Ahora, si todo ha ido bien, se deberían de haber cargado las actividades en la base de datos de Notion.</li>
  </ul>
  <div class="text-3xl pt-8">Cosas importantes a tener en cuenta</div>
  <div class="text-2xl pt-4">1. Propiedades</div>
  <div class="text-xl pt-4 font-extralight">Si en tu base de datos de Notion las propiedades tienen nombres diferentes o están configuradas de manera distinta habrá errores, asegúrate de ajustar las propiedades con el mismo nombre y tipo que tienes en el código.  </div>
  <div class="text-2xl pt-8">2. Convertir a kilómetros</div>
  <div class="text-xl pt-4 pb-4 font-extralight">Dado que la API de Strava nos devuelve la distancia en metros, puedes dividir esa distancia por 1000 para convertirla a kilómetros.</div>
  <ul class="text-xl ml-8 list-disc font-extralight">
    <li>Incluye la siguiente constante <code>const distanceInKilometers = activity.distance / 1000;</code> después de leer las actividades y antes de pintar las actividades en la base de datos de Notion.</li>
    <li class="mt-4">Redondear la cifra. Si quieres redondear la distancia a un número de decimales específico, puedes usar la función <code>toFixed()</code>. Por ejemplo, para redondear a 2 decimales <code>const distanceInKilometers = parseFloat((activity.distance / 1000).toFixed(2));</code></li>
  </ul>
  <div class="text-2xl pt-8">3. Duplicados cada vez que se ejecuta el script</div>
  <div class="text-xl pt-4 pb-4 font-extralight">Esto ocurre, como es normal, si estás ejecutando el código de forma costante y creando entradas de manera repetida para cada actividad de Strava, sin asegurarte antes de que no se estén creando duplicados en Notion. Para solucionarlo podemos hacer lo siguiente:</div>
  <div class="p-4 mb-8 bg-green-100 font-extralight rounded-lg">📌 A continuación tienes los pasos, pero el código completo del script lo puedes encontrar al final del post</div>
  <ul class="text-xl ml-4 list-none font-extralight">
    <li>1. Obtener el ID de la actividad desde Strava: Cada actividad de Strava tiene un <code>ID</code> único, y puedes usar este <code>ID</code> para asegurarte de que no estás agregando la misma actividad más de una vez.</br>Crea una nueva entrada y propiedad como el resto de las veces anteriores, tanto en tu código, como en la base de datos de Notion para tener controlado el número de <code>ID</code>.</li>
    <li class=" pb-2 pt-2"><iframe style="width:100%; height:268px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https%3A%2F%2Fgithub.com%2Fquiqueciria%2Fcode-blocks%2Fblob%2Fmain%2Fstrava-id.js&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></iframe></li>
    <li class=" pb-2">2. En el bucle incluye <code>async</code> para realizar la consultas y escrituras de manera asíncrona <code>activities.forEach(async (activity) => {</li></code>
    <li class=" pb-2 pt-2">3. Comprueba si la actividad ya está en Notion:</li>
    <li class=" pb-2 pt-2"><iframe style="width:100%; height:268px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https%3A%2F%2Fgithub.com%2Fquiqueciria%2Fcode-blocks%2Fblob%2Fmain%2Factivity-check.js&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></iframe></li>
    <li>4. Si no hay una entrada existente, crea una nueva.</li>
    <li><div class="code_block"> (existingPage.results.length === 0) {</div></li>
    <li class=" pb-2 pt-2"><iframe style="width:100%; height:793px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https%3A%2F%2Fgithub.com%2Fquiqueciria%2Fcode-blocks%2Fblob%2Fmain%2Fcreate_db_notion.js&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></iframe></li>
  </ul>
  <div class="text-3xl pt-4">El código del script completo</div>
  <div class="text-xl pt-4 font-extralight">Este es el código final del sript que cada vez ejecutemos desde el terminal nos actualizará si tenemos alguna actividad nueva desde Strava a Notion.</div>
  <div class=" pb-2 pt-2"><iframe style="width:100%; height:1822px;" allow="clipboard-write" src="https://emgithub.com/iframe.html?target=https%3A%2F%2Fgithub.com%2Fquiqueciria%2Fcode-blocks%2Fblob%2Fmain%2Fsync-strava.js&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></iframe></div>
  <div class="text-xl pb-4 font-extralight">En el siguiente post veremos como automatizar todo este proceso con Github Action y así "olvidarnos" de la ejecución manual.</div>
<div class="text-xl pt-2 mb-4 font-extralight">
Si quieres comentar algo sobre este post o cualquier duda puedes hacerlo en el siguiente hilo de Bluesky:
</div>
  <blockquote class="bluesky-embed" data-bluesky-uri="at://did:plc:fmtdax4ph3cv2dgyclytul7n/app.bsky.feed.post/3lh6rhq3lc22q" data-bluesky-cid="bafyreid5lcmorfddkpjwffmzr63ldmwv4pph7xaekk52mjnqrfjibzptpu"><p lang="es">He escrito el primer post de como estoy visualizando mi actividades de Strava en Notion a través de su API : www.quiqueciria.es/activities_s...<br><br><a href="https://bsky.app/profile/did:plc:fmtdax4ph3cv2dgyclytul7n/post/3lh6rhq3lc22q?ref_src=embed">[image or embed]</a></p>&mdash; Quique Ciria (<a href="https://bsky.app/profile/did:plc:fmtdax4ph3cv2dgyclytul7n?ref_src=embed">@quiqueci.bsky.social</a>) <a href="https://bsky.app/profile/did:plc:fmtdax4ph3cv2dgyclytul7n/post/3lh6rhq3lc22q?ref_src=embed">2 de febrero de 2025, 11:01</a></blockquote><script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>


<div class="border-t border-slate-400 my-8"></div>
<div>
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="/">Quique Ciria </a>• 2025 • 
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="mailto:info@quiqueciria.es">info @ quiqueciria.es</a>
</div>
  </body>
</html>
