---
import '../styles/styles.css';
---


<html>
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:200,300,400&display=swap" rel="stylesheet">
</head>

<body class="mx-10 my-10 font-sans text-slate-800">
    <div class="fixed">
   <a href="/"><img src="/imgs/arrow-left.svg"></a>
    </div>
    <div class="text-5xl mt-12 fixed">
        Design Works 
    </div>
    <div class="text-sm font-extralight pt-28">
      Some design work
    </div>

    <div class="grid md:grid-cols-2 gap-4 pt-8">
      <div class="break-inside-avoid  mb-4 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work175.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight">Yorokobu magazine cover</div>
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work1.jpg" alt="Gallery image" /> 
      <div class="text-sm font-extralight">Illustration for a computer colleague</div>  
    </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work156.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Report for Greepeace</div>       
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work33.jpg" alt="Gallery image" />    
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work241.jpg" alt="Gallery image" />          
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work249.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Barcelonés magazine</div>        
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded  border-2" src="/imgs/p/work274.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded border-2" src="/imgs/p/work275.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Brochure for Cinfa</div>      
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work40.gif" alt="Gallery image" />        
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work43.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work180.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work11.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work119.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Corporate image</div> 
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work234.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work206.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work242.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Barcelonés magazine</div>  
      </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work269.jpg" alt="Gallery image" />
          </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work150.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work146.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work131.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2  md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work127.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Barcelonés magazine</div>        
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work134.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Infographics and illustrations for Fundación Matia</div>            
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work110.jpg" alt="Gallery image" />  
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work271.png" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Illustrations for Apps promotions</div>       
      </div>
      <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work30.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work61.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work105.png" alt="Gallery image" />
        </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work133.png" alt="Gallery image" />
          </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work171.png" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Illustrations for Apps promotions</div> 
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work120.png" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Illustration guide for characters</div> 
      </div>
      <div class="break-inside-avoid mb-2  md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work24.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work18.jpg" alt="Gallery image" />
      </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work10.gif" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work268.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work79.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work22.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work14.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work92.jpg" alt="Gallery image" />
        </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work69.jpg" alt="Gallery image" />
          </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work71.jpg" alt="Gallery image" />
          </div>
          <div class="break-inside-avoid mb-2">
            <img class="h-auto max-w-full rounded" src="/imgs/p/work57.jpg" alt="Gallery image" />
            </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work47.jpg" alt="Gallery image" />
          </div>
          <div class="break-inside-avoid mb-2">
            <img class="h-auto max-w-full rounded" src="/imgs/p/work77.jpg" alt="Gallery image" />
          </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work140.jpg" alt="Gallery image" />
        <div class="text-sm font-extralight pt-2">Infographics and illustrations for Aspapel</div>          
      </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work166.jpg" alt="Gallery image" />
          </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work158.jpg" alt="Gallery image" />
          </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work103.jpg" alt="Gallery image" />
        </div>
        <div class="break-inside-avoid mb-2">
            <img class="h-auto max-w-full rounded" src="/imgs/p/work235.jpg" alt="Gallery image" />
        </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work29.jpg" alt="Gallery image" />
          <div class="text-sm font-extralight pt-2">Infographics and illustrations for Telefonica</div>             
        </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work104.jpg" alt="Gallery image" />
        </div>

        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work86.png" alt="Gallery image" />
          </div>
          <div class="break-inside-avoid mb-2">
            <img class="h-auto max-w-full rounded" src="/imgs/p/work117.jpg" alt="Gallery image" />
          </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work31.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work32.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work34.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work35.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work36.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work37.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2  md:col-span-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work38.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work42.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work28.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work25.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work44.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work45.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work46.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work48.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work49.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work50.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work51.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work52.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work53.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work54.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work55.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work56.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work59.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work60.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work63.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work64.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work65.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work13.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work82.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2  md:col-span-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work68.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work70.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work72.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work75.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work73.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work78.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work76.jpg" alt="Gallery image" />
        </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work85.jpg" alt="Gallery image" />
          </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work81.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work84.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work88.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work89.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work90.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work94.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work95.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work96.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work97.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work98.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work99.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work100.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work101.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work102.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work106.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work107.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work108.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work109.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work111.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work112.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work113.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work114.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work115.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work116.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work118.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work121.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work122.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work123.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work124.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work125.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work128.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work129.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work130.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work132.jpg" alt="Gallery image" />
        </div>
        <div class="break-inside-avoid mb-2">
          <img class="h-auto max-w-full rounded" src="/imgs/p/work39.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work135.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work159.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work137.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work136.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work138.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work141.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work142.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work143.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work144.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work145.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work147.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work148.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work149.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work151.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work152.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work154.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work155.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work157.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work160.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work161.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work162.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work163.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work164.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work165.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work167.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work168.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work169.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work170.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work172.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work173.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work176.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work177.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work178.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work181.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work182.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work183.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work184.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work185.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work186.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work187.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work188.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work189.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work190.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2 md:col-span-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work191.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work195.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work196.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work197.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work198.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work200.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work201.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work202.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work203.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work204.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work205.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work207.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work208.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work209.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work210.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work211.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work212.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work213.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work214.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work215.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work216.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work217.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work218.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work219.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work220.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work221.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work222.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work223.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work224.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work225.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work227.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work228.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work5.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work229.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work230.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work231.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work232.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work236.gif" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work237.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work239.jpg" alt="Gallery image" />
        </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work238.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work240.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work243.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work244.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work246.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work247.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work248.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work250.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work251.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work252.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work253.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work254.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work255.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work256.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work257.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work258.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work259.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work260.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work261.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work262.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work263.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work264.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work265.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work266.png" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
      <img class="h-auto max-w-full rounded" src="/imgs/p/work267.jpg" alt="Gallery image" />
      </div>
      <div class="break-inside-avoid mb-2">
        <img class="h-auto max-w-full rounded" src="/imgs/p/work272.jpg" alt="Gallery image" />
        </div>
      </div>

</html>