---
import '../styles/styles.css';
import { Image } from "astro:assets";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:200,300,400&display=swap" rel="stylesheet">
</head>

  <body class="mx-10 my-10 max-w-3xl font-sans text-slate-800 bg-green-50">
    <div class="">
   <a href="/"><img src="/imgs/arrow-left.svg"></a>
    </div>
    <div class="text-5xl mt-10">
        Mística icons
    </div>

        
    <div class="bg-green-100 p-4 mt-8 font-extralight rounded-lg">🇪🇦 Puedes encontrar una versión de este caso de estudio en español en este <a href="https://www.notion.so/M-stica-icons-aa012a6e89b34ffaabbd46f1d317a16f?pvs=4" target="_blank">link</a></div>

    <div class="text-3xl pt-8">Background</div>
  <div class="text-xl pt-4 pb-8 font-extralight">
    There's a constant need of creating new icons, updates and support while developing of the apps of Telefónica. These assets are fundamentals in multiple flows and screens across different apps. In addition, it's essential that these icons reflect the brand image and harmonize to the rest of components and actions.</div>
    <div class="py-2 ">
        <Image src="/imgs/icons-one.png" alt="" width="1500" height="1000"/>
    </div>
    <div class="text-sm pb-8 font-extralight">Some icons of Mística icons. <a href="/imgs/icons-one.png" target="_blank">Image</a></div>
    <div class="py-2 ">
      <Image src="/imgs/icons-details.png" alt="" width="1500" height="1000"/>
  </div>
  <div class="text-sm pb-8 font-extralight">Details of icons in different contexts. <a href="/imgs/icons-details.png" target="_blank">Image</a></div>
    <div class="text-xl pt-4 font-extralight">
        On the other hand, internally in the design team, each designer works autonomously but coordinated and together with their product team; and a development team works in a agile way, with established standars and definitions, so it was neccesary to homogenize a process and define patterns for the icons at a global level.
  </div>
  <div class="text-xl pt-4 font-extralight">
    This project was born with the need to create a design system (<a href="https://www.notion.so/M-stica-Design-System-9a1b4e6b5f68416992fc20352bcb2340?pvs=4">Mística</a>) that supported the entire ecosystem of digital products and services of Telefónica company. The idea was to have an icon library to support this design system.
</div>
<div class="text-xl pt-4 font-extralight">
    Before this, each brand worked independently, with multitude of designs, patterns and work processes in each team.
</div>
<div class="text-3xl pt-8">Understand the problem</div>
<div class="text-xl pb-8 pt-4 font-extralight">
    To move steadily from the current situation it was important to establish a series of priorities to achieve the objectives, from the most generic one to the most specific. The idea was to create a stable base on to build the entire system. This meant that we would have to work simultaneously with two different systems of icons during a period of time and two different workstreams until we got to a point of no return, where we shifted to the new one. Thus this process took a while, it coexisted with the rest of projects and was adapted according to the situation.
</div>
<Image class="py-2" src="/imgs/priorities.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm pb-8 font-extralight">First steps in the project. <a href="/imgs/priorities.png" target="_blank">Image</a></div>
<div class="text-xl pt-4 pb-8 font-extralight">
    In general, we can say that the first thing was to establish some style guides, which would help us to give consistency to the creation from that moment on. A common library, where to centralize all the assets that exist to begin to refine them and organize them by tasks. And on the other hand, in parallel a workflow would be documented from the design perspective (creation and use) and another process for the development team (production). With these three parts we would begin to give consistency and logic to all the assets we used.
</div>
<Image class="py-2" src="/imgs/icon-process-2.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">Screenshots of different parts of the process. Style guides, workflow and repository. <a href="/imgs/icon-process-2.png" target="_blank">Image</a></div>

<div class="text-3xl pt-8">Main goals</div>
<div class="text-xl pt-4 ml-8 font-extralight">
    <ul class="list-disc">
        <li class="mb-3">To unify the patterns and style guides for creation and design, taking into account the global brand specifications.</li>
        <li class="mb-3">Define a nomenclature of files with meaning and coherence.</li>
        <li class="mb-3">Document and define the process of creation, organization, updating and use.</li>
        <li class="mb-3">Create assets libraries to use together our design system in a coordinated and meaningful way.</li>
        <li class="mb-3">Optimize design and development resources for icon management.</li>
        <li class="mb-3">Define with the development team how they use the assets, specifications required for the correct application and optimization. As well as standardization in sizes and colors.</li>
        <li class="mb-3">Create an accesible path for the entire product team to a single source of truth, avoiding duplications and questions.</li>
  </ul>
  </div>
  <Image class="py-2" src="/imgs/icons-aplication.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight"><a href="/imgs/icons-aplication.png" target="_blank">Image</a></div>

<div class="text-3xl pt-8">Process</div>
<div class="text-xl pt-4 font-extralight">
    The workflow defines how any designer can create an icon autonomously according to the documentation, how the tasks are coordinated with the icon master, the verification process, how they are exported to include in the repository and finally, how the developers use it.
</div>
<div class="text-xl pt-4 pb-8 font-extralight">
    To get at the definition of this workflow, different meetings were held with the design and development teams until a first version was obtained. But such a document is never final, it's live and continue to improve depending of needs and comments of the teams at all times.
</div>
<Image class="py-2" src="/imgs/Iconos_Workflow.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">Worflow of the creation of a icon. <a href="/imgs/Iconos_Workflow.png" target="_blank">Image</a></div>

<div class="text-3xl pt-8">Source of truth</div>
<div class="text-xl pt-4 font-extralight">
    Among all the improvements that were included in the project, one of the main ones was to establish a form of coordination and organization of work. To do this, getting a single place with all the assets accessible from design and development was what brought the greatest benefit to the entire team in this regard.
</div>

<div class="pt-10 columns-2">
    <Image class="py-2" src="/imgs/Captura_de_pantalla_2021-08-06_a_las_12.09.54.png" alt="" width="1500" height="1000"/>
    <Image class="py-2" src="/imgs/Captura_de_pantalla_2021-08-06_a_las_12.11.06.png" alt="" width="1500" height="1000"/>
    </div>
    <div class="text-sm pb-8 font-extralight ml-3">Repository in Github. </div>
    <div class="text-xl pt-4 font-extralight">
        As normally happens with internal improvement projects, they need time and this is always scarce because we prioritize external tasks. But it is tremendously necessary to work on internal processes and projects because this has a direct impact on the team and the "visible" work.
    </div>
    <div class="text-xl pt-4 font-extralight">
        Among all the problems that we dragged, one was the one of the different places where the icons could be found (Zeplin, Sketch, StoryBook, etc). From design we knew that it was essential that the icons had one repository only and that this would ALWAYS be the only source of truth regarding doubts, changes and updates. It was also essential that this repository was controlled by the design team, which is on the product side. Not having enough time or designers, we came up with a way to do it from GitHub.
    </div>
    <div class="text-xl pt-4 font-extralight">
        GitHub allowed us to create a quick repository and we managed it in an independent way from the design team. This repository would contain all the icons prepared for production, they would be displayed using the markdown syntax on the main page that would allow us to search using the browser.
    </div>
    <div class="text-xl pt-4 font-extralight">
        By having the entire repository through GIT, we could apply changes and update on a recurring and documented way. GIT is a collaborative system in which anyone can improve an asset by making a pull request. And the development team (who already used GitHub), could either use the icons directly, or link them from the repository to keep them directly updated.
    </div>
    <div class="text-xl pt-4 font-extralight">
        On the other hand, when there is any discrepancy on the version or if it is the appropriate icon, we have a completely updated source of truth accessible from a browser.
    </div>
    <div class="text-3xl pt-8">Conclusions</div>
    <div class="text-xl pt-4 font-extralight">
        When I left the project, a fully functional system was left in sync between development and design:
        <ul class="list-disc ml-8 pt-4">
            <li class="mb-3">An icon library was available for Sketch and afterwards for Figma.</li>
            <li class="mb-3">There was a repository fully accessible from the web as the only source of truth for development, design and product when checking and using any icon.</li>
            <li class="mb-3">Assets were fully prepared to use in .svg and .pdf code from the GitHub repository.</li>
            <li class="mb-3">The process of creation, support and production of the icons was defined.</li>
            <li class="mb-3">There were style and brand guides for the creation, giving uniformity and coherence to any icon created.</li>
            <li class="mb-3">Control points were established to apply improvements to the process and to optimize it as much as possible.</li>
        </ul>
    </div>
<Image class="py-2" src="/imgs/actual.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">Process simplificated. <a href="/imgs/actual.png" target="_blank">Image</a></div>
<div class="text-3xl pt-8">Teamwork</div>
<div class="text-xl pt-4 font-extralight">
    The development of the work was carried out as a team. I had the colaboration and effort of my colleagues <a href="https://www.linkedin.com/in/hectorsancho/">Héctor Sancho</a>, <a href="https://www.linkedin.com/in/ignacio-ceballos-torres-912b5140/">Ignacio Ceballos</a> and <a href="https://www.linkedin.com/in/maria-molinero-mourelle-a1505967/">María Molinero</a>.
</div>
<div class="text-xl pt-4 pb-8 font-extralight">
    My role as owner of the project was the definition, ideation, coordination and solutions of the problems during the project and adaptation process to the new system and support.
</div>
<Image class="py-2" src="/imgs/mistica-icons-regular.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">Mística Icons in Figma. <a href="/imgs/mistica-icons-regular.png" target="_blank">Image</a></div>


<div class="text-3xl pt-8">Tool used</div>
<div class="text-xl pt-4 ml-5 font-extralight">
  <ul class="list-disc sm:columns-2">
    <li class="mb-3">Sketch</li>
    <li class="mb-3">Figma</li>
    <li class="mb-3">Adobe Illustrator</li>
    <li class="mb-3">Jira</li>
    <li class="mb-3">Google docs</li>
    <li class="mb-3">Slack</li>
    <li class="mb-3">Kactus</li>
    <li class="mb-3">Github</li>
  </ul>
</div>
<div class="border-t border-slate-400 my-8"></div>
<div>
  <a href="/">Quique Ciria </a>• 2021 • 
  <a href="mailto:info@quiqueciria.es">info @ quiqueciria.es</a>
</div>
  </body>
</html>
