---
import '../styles/styles.css';
import { Image } from "astro:assets";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:200,300,400&display=swap" rel="stylesheet">
</head>

  <body class="mx-10 my-10 max-w-3xl font-sans text-slate-800 bg-stone-100">
    <div class="">
   <a href="/"><img src="/imgs/arrow-left.svg"></a>
    </div>
    <div class="text-5xl mt-10">
        Mística Design System
    </div>

        
    <div class="p-4 mt-8 bg-red-100 font-extralight rounded-lg">🇪🇦 Puedes encontrar una versión de este caso de estudio en español en este <a href="https://quiquec.notion.site/3e77c432d8324d1ea86164effb09dc80" target="_blank">link</a></div>

    <div class="text-3xl pt-8">Background</div>
  <div class="text-xl pt-4 pb-8 font-extralight">
    There was a moment when the Telefónica design team realized that the needs of our project and product demanded to have a design system. The goal was <strong>to share a common language of visuals codes, interaction and, at the same time, a standardized and agile way of construction</strong>.</div>
    <div class="py-2 ">
        <Image src="/imgs/MAIN-newBrand.gif" alt="" width="1500" height="1000"/>
    </div>
    <div class="text-xl pt-4 font-extralight">
        At that moment, Telefónica was changing from being a "classic" Telco to offering new digital products and services in different lines of business. This change required us to comprehensively analyze our workflow and the processes to get optimized our environment for the new vision of the company.
  </div>
  <div class="text-3xl pt-8">Understand the problem</div>
  <div class="text-xl pt-4 pb-8 font-extralight">
    In addition to analyzing our way of working it was necessary to check all visual elements that we were using. During this review we discovered that there were many differences between elements that should be part of a common and coherent design language within the ecosystem of Telefónica products and services.
</div>
<div class="py-2 ">
    <Image src="/imgs/analisis.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">Screens of the previous analysis prior to the design system. <a href="/imgs/analisis.png" target="_blank">Image</a></div>
<div class="text-xl pt-8 font-extralight">
    Some of these elements that did not maintain adequate consistency were isolated components, fonts, shapes, spaces, colors or iconography, among others. These elements were treated differently and weren't shared by the design and technology teams that were in charge of it.
</div>
<div class="text-xl pt-4 font-extralight">
    On the other hand, we realized that the biggest job was to maintain these elements independently by each of the teams. In terms of user experience and brand image, the perception was really different and inconsistent. Furthermore, this slow way of working caused us to repeatedly address the same problems and similar needs with different stakeholders.
</div>
<div class="text-xl pt-4 pb-8 font-extralight">
    Therefore, the goals was to create a common digital design system for Telefónica. This would force us to rethink our workflows and optimize it, in order to reduce the time to market, to improve the user experience and to give consistency to our products. 
</div>
<div class="py-2 ">
    <iframe width="760" height="430" src="https://www.youtube.com/embed/oCbJDIRh608?si=99FoWUuGphK6ASW0&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>


<div class="text-3xl pt-8">Main goals of design system</div>
<div class="text-xl pt-4 ml-8 font-extralight">
  <ul class="list-disc">
    <li class="mb-3">Eficiency and agility in the creation of services and digital products</li>
    <li class="mb-3">Optimized and defined processes</li>
    <li class="mb-3">Consistency between products</li>
    <li class="mb-3">Components adapted to web and native</li>
    <li class="mb-3">Coordinated work between design and development</li>
    <li class="mb-3">Clear and update documentation</li>
    <li class="mb-3">A system of global improves and upgrades system</li>
    <li class="mb-3">Defined patterns of interaction and comunication with the user</li>
    <li>Global and consistent experience with the entire product ecosystem </li>
  </ul>
</div>
<div class="pt-10 columns-2">
<Image class="py-2" src="/imgs/Captura de pantalla 2021-08-25 a las 9.59.13.png" alt="" width="1500" height="1000"/>
<Image class="py-2" src="/imgs/Captura de pantalla 2021-08-25 a las 16.17.39.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight ml-3">Cover of the design system in <a href="https://brandfactory.telefonica.com/d/iSp7b1DkYygv/n-a#/get-started/what-is-mistica" target="_blank">BrandFactory.</a></div>


<div class="text-3xl pt-8">Mística, the digital design system of Telefónica</div>
<div class="text-xl pt-4 font-extralight">
    Mística is an open and collaborative design system. <strong>It is a common design language that provides tools and resources to offer a consistent digital experience across the entire ecosystem of products and services that Telefónica offers</strong>.
</div>
<div class="text-xl pt-8">Main advantages of our design system</div>
<div class="text-xl pt-4 ml-8 font-extralight">
  <ul class="list-disc">
    <li class="mb-3">With Mística we ensure that all products and services have a clear consistency and as a result, it provides us an adequate user experience.</li>
<li class="mb-3">A design system is a living project that receives continuous updates and improvements according to the needs of the product and the teams.</li>
<li class="mb-3">Our system reduces design and development times in order to dedicate more time to product improvement and evolution.</li>
<li class="mb-3">Mística is built with native components for Android, iOS and Web.</li>
</ul>
</div>

<div class="text-xl pt-8">The design system consists of three types of libraries:</div>
<div class="text-xl pt-4 ml-8 font-extralight">
  <ul class="list-disc">
    <li class="mb-3"><strong>Platform libraries</strong><br/>They are base libraries of components and elements without brand or white brand. This means we can build screens that will later be branded according to product needs.</li>
<li class="mb-3"><strong>Brand libraries</strong><br/>These are the libraries that contain all the brand elements, such as colors, that make the product adapt to the needs of each brand or country.</li>
<li class="mb-3"><strong>Icon libraries</strong><br/>This library provides a wide collection of icons that can be used in different parts of the product as needed.</li>
</ul>
</div>
<Image class="py-2" src="/imgs/libraries.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">The design system is made up of three types of libraries. <a href="/imgs/libraries.png" target="_blank">Image</a></div>
<div class="text-xl pt-8">Also Mística provide of the next resources for design:</div>
<div class="text-xl pt-4 ml-8 font-extralight">
  <ul class="list-disc">
    <li class="mb-3">Native fonts (Roboto and San Francisco) and Telefónica's own font.</li>
<li class="mb-3">UI kits with all components by category and screen templates.</li>
<li class="mb-3"><a href="https://github.com/Pausansol/Camilo">Camilo Plugin</a>, which allows to change the components and elements of system between brands. This plugin for Sketch was developed internally by Pablo Sánchez, Head of the design team.</li>
</ul>
</div>

<div class="text-xl pt-4">And in addition, our design system has some resources to directly test the components live and thus understand how they work and their interactions depending on the device:</div>
<div class="text-xl pt-4 ml-8 font-extralight">
  <ul class="list-disc">
    <li class="mb-3"><a href="https://brandfactory.telefonica.com/d/iSp7b1DkYygv/n-a#/get-started/start-to-design">Mística</a> catalog for Android and iOS.</li>
    <li class="mb-3"><a href=https://mistica-web.vercel.app/?path=/story/welcome-welcome--mistica">Storybook</a> with the entire catalogue of components in React.</li>
    <li class="mb-3"><a href="https://mistica-web.vercel.app/playroom#?code=N4Igxg9gJgpiBcIA8AxCAnAtgHQHYVwGUBXAI0wEsAXAXmAAoAzDTAEQEMr2BKAAhoB8eXr3YAbGOir1gwkbyrUJ8XthAAVABYUAzr128AnhGLpeUTuzUAaOSMwwdO9gHMYKgFKEA8gDkAdDpU6BS4LhSMhkwsHFzWvLjEYmLxAEzctrgiAL7ceNl4QrhIAEIQAB68AA7sUFChLnQAjABs2UUiSIRcYADWvDo1YDDNbR3ySOow5VQoFDBiUAnsDjRquCswarxi7KQLayC%2Bm9sA9OOdAKKY7BRicwtLG6tqMDd327v7YocwALTvMRnC68UrEKhUAgAGXYxnBIM6JXBkNwAAUQjd0IYBmRKFQBIQYLgoEhTkiIQR0RRMYYQaTySiYXD8XJSd12H0ivSKlzTmgsAIQNYQFRNG9HAgANogABqFAAbhAQABdYUAdwoUFFOilyuyQA">Playroom</a>, that allow us to quickly make interactive prototypes with a multitude of templates and screen sizes.</li>
</ul>
</div>
<div class="text-3xl pt-8">Elements of the system</div>
<div class="text-xl pt-4 font-extralight">
    <strong>Fundamentals</strong><br/>Within Mística, the <a href="https://brandfactory.telefonica.com/d/iSp7b1DkYygv/n-a#/fundamentals/design-values">basics elements</a> are defined as those commons to the entire system that allow us create components. In this category we include elements such as color constants, fonts, spaces or type of shadows, among others.
</div>
    <div class="text-xl pt-4 pb-8 font-extralight">
        Furthemore, within these basics elements we include the design principles that guide us to build the product correctly and aligned with the design objectives.</div>
<Image class="py-2" src="/imgs/constants.png" alt="" width="1500" height="1000"/>
<div class="text-sm pb-8 font-extralight">Example of the color constants of Movistar. <a href="/imgs/constants.png" target="_blank">Image</a></div>

<Image class="py-2" src="/imgs/libraries(1).png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm pb-8 font-extralight">Typography and breakpoints of screens. <a href="/imgs/libraries(1).png" target="_blank">Image</a></div>
<Image class="py-2" src="/imgs/examples.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm pb-8 font-extralight">Examples of application of the text-presets. <a href="/imgs/examples.png" target="_blank">Image</a></div>

<div class="text-xl pt-4 font-extralight">
    <strong>Components</strong><br/>We defined the <a href="https://brandfactory.telefonica.com/d/iSp7b1DkYygv/n-a#/components/overview">components</a> as those elements that have own entity and may o may not be composed of the other more basic elements. These components are used to create the different parts of a screen.
</div>

<div class="text-xl pt-4 pb-8 font-extralight">
    Components are normally defined and documented according to their use, structure and behavior.
</div>
<Image class="py-2" src="/imgs/Buttons.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm pb-8 font-extralight">Buttons design specs. <a href="/imgs/Buttons.png" target="_blank">Image</a></div>
<Image class="py-2" src="/imgs/Lists.png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight">Lists design specs. <a href="/imgs/Lists.png" target="_blank">Image</a></div>
<div class="text-3xl pt-8">Contribution</div>
<div class="text-xl pt-4 font-extralight">
    From the Core design team it is encouraged the help and participation of the all the colleagues (designers or not) in the design system. For this, different ways for the contribution to Mística were defined.
</div>
<div class="text-xl pt-4 ml-8 font-extralight">
  <ul class="list-disc">
    <li class="mb-3"><strong>Components request</strong><br/>If it is necessary to add a new component, the need to add it should be considered, if it is reusable in other places and if it will finally be integrated into Mística or will remain as a bastard component (built with the system but not within it).</li>
    <li class="mb-3"><strong>Icon request</strong><br/>The process is similar to adding a new component, but it has its own characteristics. It's explained in detail in this <a href="misticaIconsENG">case study</a>.</li>
    <li class="mb-3"><strong>Modify a existing component</strong><br/>A component can solve a need today but can be modified or improved in the future depending on its purpose.</li>
    <li class="mb-3"><strong>Report a bug</strong><br/>Generally, errors can be found in a continous improvement process. If someone finds an error in any element o component of the system, it is convenient that this is reported as soon as possible to be solved for the benefit of the team.</li>
</ul>
</div>
<div class="text-xl pt-4 pb-8 font-extralight">
    All the processes start creating a ticket in GitHub or Jira with the specific needs and tracking the steps to follow through it.
</div>
<Image class="py-2" src="/imgs/constants(1).png" alt="" width="1500" height="1000"/>
</div>
<div class="text-sm font-extralight"><a href="https://github.com/Telefonica/mistica-design">Mística in Github</a>. <a href="/imgs/constants(1).png" target="_blank">Image</a></div>
<div class="text-3xl pt-8">Conclusion</div>
<div class="text-xl pt-4 font-extralight">
    The design system Mística is a solution to the complex challenge of building and designing for a multitude of digital products and services that can vary by brand, platform and country. Providing tools and resources to different players so that they have a common and consistent language.
</div>
<div class="text-xl pt-4 font-extralight">
    During my experience helping to create Mística, I have verified that not only has it helped us as a team, but has also contributed to making Telefónica's digital experience more attractive, coherent and accessible. It has improved communication between teams and has united us in a common interest, in addition to optimizing processes and being able to dedicate more time to the improvement and evolution of the product.
</div>
<div class="text-xl pt-4 font-extralight">
    On a personal level, Mística has allowed me to learn what it is to create a design system out from scratch that allows different professionals to communicate, document it so that everyone has a clear and accessible reference in case of any doubt; and understand the needs that different teams may have even if I have not lived them.
</div>


<div class="text-3xl pt-8">Teamwork</div>
<div class="text-xl pt-4 font-extralight ">The main responsability that this project has been a success and continues to be so is responsibility of <a href="https://www.linkedin.com/in/alvaromillans/">Álvaro Millán</a> as team leader and <a href="https://www.linkedin.com/in/ignacio-ceballos-torres-912b5140/">Ignacio Ceballos</a> as main designer. Their valuable technical work and organization have been one of the main pillars on which this work is based. They knew how to guide and organize a design team in which there were also great professionals such as <a href="https://www.linkedin.com/in/hectorsancho/">Héctor Sancho</a>, <a href="https://www.linkedin.com/in/pprada/">Pablo Prada</a>, Miguel Diéguez and <a href="https://www.linkedin.com/in/pablosanchezsoler/">Pablo Sánchez</a>.</div>

<div class="text-3xl pt-8">Tool used</div>
<div class="text-xl pt-4 ml-5 font-extralight">
  <ul class="list-disc sm:columns-2">
    <li class="mb-3">Sketch</li>
    <li class="mb-3">Kactus</li>
    <li class="mb-3">Zeplin</li>
    <li class="mb-3">Jira</li>
    <li class="mb-3">Google docs</li>
    <li class="mb-3">Gitbook</li>
    <li class="mb-3">Slack</li>
    <li class="mb-3">Teams</li>
  </ul>
</div>
<div class="border-t border-slate-400 my-8"></div>
<div>
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="/">Quique Ciria </a>• 2021 • 
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="mailto:info@quiqueciria.es">info @ quiqueciria.es</a>
</div>
  </body>
</html>
