---
import '../styles/styles.css';
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link rel="stylesheet" href="src/css/font.css" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:200,300,400&display=swap" rel="stylesheet">
</head>

<body class="mx-10 my-10 font-sans text-slate-800">
    <div class="">
   <a href="/"><img src="/imgs/arrow-left.svg"></a>
    </div>
    <div class="text-5xl mt-10">
        Moodboard old works
    </div>

    <div class="grid grid-cols-2 gap-4 place-content-center">
        <div class="bg-blue-100"><img src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOaReYSmgfhind-k3EoYUckGntLzWc9cqdubMKA.jpg"></div>
        <div class="bg-blue-100"><img src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOa8gjyYE2b4Yg8lrL2tycIE8DQSm2tmkD7Zj8A.jpg" alt="Image 02" /></div>
        <div class="bg-blue-100"><img class="max-h-96" src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOasaYs7pCYEJmdJ8pbp7GF774jsK-cEd9NMrux.jpg" alt="Image 02" /></div>
        <div class="bg-blue-100"><img class="max-h-96" src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOaWHPrJ_3cMKpRYAo5x_mRGBabB5_JeJstbjf4.jpg" alt="Image 02" /></div>
        <div class="bg-blue-100"><img class="max-h-96" src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOb2ezvYsC3mzlYjadifRP6e5xNM4DKRCwiBQyZ.jpg" alt="Image 02" /></div>
        <div class="bg-blue-100"><img class="max-h-96" src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOb7Z7YmUm0eZDxvbfKRleql6cxTZb822J7ex0L.jpg" alt="Image 02" /></div>
        <div class="bg-blue-100"><img class="max-h-96" src="/imgs/p/A_MGFjZjlkZDY2YjhlM2JmOa16jE_NDURQ1b10QJwA0ah-GrzccU1YG191Al.jpg" alt="Image 02" /></div>
      </div>






</html>