---
import '../styles/styles.css';
import { Image } from "astro:assets";
---

<html>
  <head>
    <meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quique Ciria</title>
    <meta name="description" content="tags, tags" />
    <link href="https://fonts.googleapis.com/css?family=Chivo:200,300,400&display=swap" rel="stylesheet">
</head>

  <body class="mx-10 my-10 max-w-3xl font-sans text-slate-800 bg-stone-100">
    <div class="">
   <a href="/"><img src="/imgs/arrow-left.svg"></a>
    </div>
    <div class="text-5xl mt-10">
        Strava to Notion
    </div>
    <div class="py-2 ">
        <Image src="/imgs/bike.png" alt="" width="400" height="533"/>
    </div>
    <div class="text-3xl pt-8">Introducción</div>
  <div class="text-xl pt-4 pb-8 font-extralight">
    Este es el primer artículo espero de tres en que cuento como estoy visualizando mis actividades de Strava en Notion y así poder ver si en los 7 días anteriores llevo una media de 150 km, para, más o menos, saber que estoy en forma con la bici.
  </div>
  <div class="text-xl">Son tres posts porque lo divido en las siguientes partes:</div>
  <div class="text-xl pt-4 ml-8 font-extralight">
    <ul class="list-disc">
    <li class="mb-3">API de Strava y obtención de datos</li>
    <li class="mb-3">Pintar los datos obtenidos de Strava en una tabla de Notion</li>
    <li class="mb-3">Automatizar la sincronización con GitHub Action</li>
    </ul>
  </div>
  <div class="text-3xl pt-8">API de Strava y obtención de datos</div>
  <div class="text-xl pt-4">1º Regístrate en la API de Strava</div>
<div class="text-xl pt-2 font-extralight">
Necesitas registrar tu aplicación en Strava para obtener tus credenciales <code class="text-sm"> (client_id, client_secret y access_token)</code>. Para ello:
<ul class="list-disc ml-8"></ul>
    <li class="ml-8">Ve a la página de desarrolladores de Strava e inicia sesión con tu cuenta.</li>
    <li class="ml-8">Crea una nueva aplicación y toma nota de los siguientes datos:</li>
    <li class="ml-8 list-none bg-green-200 rounded-lg mt-3 text-sm">client_id</li>
    <li class="ml-8 list-none bg-green-200 rounded-lg mt-3 text-sm">client_secret</li>
    <li class="ml-8 list-none bg-green-200 rounded-lg mt-3 text-sm">access_token (Este lo obtendrás durante el proceso de autenticación).</li>
        </ul>
        <div class="py-2 ">
            <Image src="/imgs/strava_api.png" alt="" width="1500" height="1000"/>
        </div>
    </div>
    <div class="text-xl pt-4">2º Autenticación de Strava</div>
    <div class="text-xl pt-2 font-extralight">Strava usa OAuth 2.0 para autenticarse. Para acceder a los datos de usuario, primero necesitas obtener un access_token </br><strong>Conseguir el código para obetener el acces_token</strong>
    <ul class="list-disc ml-8">
        <li> Redirige al usuario a la URL de autorización de Strava con tu client_id:<code class="text-sm bg-green-200"> https://www.strava.com/oauth/authorize?client_id=YOUR_CLIENT_ID&response_type=code&redirect_uri=YOUR_REDIRECT_URI&scope=read,activity:read_all</code></li>
        <li>El usuario será redirigido de vuelta a tu <code class="text-sm">redirect_uri </code>con un code como parámetro de la URL.</li><code class="text-sm bg-green-200">
        https://localhost/?state=&code=AQUI_VENDRÁ_EL_CÓDIGO&scope=read,activity:read_all</code>
        <li>Usa ese code para solicitar un access_token haciendo una petición POST. Para ello vamos a hacerlo con Postman</li></ul>
        <strong>Usar Postman para conseguir el acces token</strong>
        <ul class="list-disc ml-8">
            <li>Crear una nueva solicitud en Postman</li>
            <li class="list-none">• Abre Postman y haz clic en "New" → "Request".</li>
            <li class="list-none">• Ponle un nombre a la solicitud, como "Strava Activities" y elige una colección o crea una nueva para guardar tu solicitud.</li>
            <li>Configurar la solicitud GET</li>
            <li class="list-none">• Método: GET</li>
            <li class="list-none">• URL: https://www.strava.com/api/v3/athlete/activities</li>
            <li>Añadir el token de autenticación</li>
            <li class="list-none">• Ve a la pestaña "Authorization" en Postman.</li>
            <li class="list-none">• En el menú desplegable "Type", selecciona Bearer Token.</li>
            <li>En el cuerpo de la solicitud (Query Params), debes incluir:
                <li class="list-none text-sm bg-green-200">· client_id</li>
                <li class="list-none text-sm bg-green-200">· client_secret</li>
                <li class="list-none text-sm bg-green-200">· code</li>
                <li class="list-none text-sm bg-green-200">· grant_type: 'authorization_code'</li>
                <li class="list-none text-sm bg-green-200">· scope: read_all</li>
        </li>
        <div class="py-2 ">
            <Image src="/imgs/query_params.png" alt="" width="1500" height="1000"/>
        </div>
<li>Recibirás un objeto JSON que incluye el <code class="text-sm">access_token</code>. A partir de ahí podrás usarlo para hacer solicitudes a la API de Strava.</li>
<div class="py-2 ">
    <Image src="/imgs/json_object.png" alt="" width="1500" height="1000"/>
</div>
</ul>
</div>
<div class="text-xl pt-4">3º Obtener datos de rutas de Strava</div>
<div class="text-xl pt-2 font-extralight">Una vez que tienes un access_token, puedes hacer solicitudes a los endpoints de la API de Strava. </br>Por ejemplo, para obtener las actividades recientes de un usuario en Postman:
    <ul class="list-disc ml-8">
        <li class="text-sm bg-green-200">Introduce este endpoint en un solicitud GET: https://www.strava.com/api/v3/athlete/activities</li>
        <li class="text-sm bg-green-200">En la pestaña de "Autorization", en el desplegable, elige "Bearer Token"</li>
        <li>En el campo "Token" coloca el acces_token que has obtenido anteriormente en la solicitud POST</li>
    </ul>
    Esto te devolverá un array con todas las actividades del usuario.
    <div class="py-2 ">
        <Image src="/imgs/activities_postman.png" alt="" width="1500" height="1000"/>
    </div>
</div>
<div class="text-xl pt-2 font-extralight">
    Bien, ahora ya tenemos los datos de todas nuestras actividades. En los siguientes posts veremos como podemos pintarlos en una tabla en Notion y ya filtrarlos como queramos, además de automatizar el proceso de actualización del access_token.
</div>
<div class="border-t border-slate-400 my-8"></div>
<div>
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="/">Quique Ciria </a>• 2025 • 
  <a class="border-b pb-1 border-slate-800 hover:border-orange-400" href="mailto:info@quiqueciria.es">info @ quiqueciria.es</a>
</div>
  </body>
</html>
