---
---
<div class="border-t border-slate-400 my-10"></div>

<div class="text-xl mt-8">
    <h2>About this page</h2>
  </div>
  <div class="text-sm font-light mt-1">
    This website is something very simple, built only with <a href="https://astro.build/" target="_blank"> Astro</a> and <a href="https://tailwindcss.com/" target="_blank"> Tailwindcss</a>. The fonts are <a href="https://fonts.google.com/specimen/Chivo" target="_blank"> Chivo</a> and <a href="https://www.myfonts.com/collections/triump-font-latinotype" target="_blank"> Triump</a>.</div>
